extends  ../../layout/main/_index
include ../../components/profile/profile
include ../../components/input/input
include ../../components/button/button
include ../../components/link/link
include ../../components/text-link/text-link

block content
   
    main.error-page
        .error-page__title 404
        .error-page__content Такой страницы не существует!
        a(href="../home/index.pug") Перейти в чат
        footer


