.msg-item {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.9);
    display: grid;

    &__avatar {
        @include avatar(50px);
        margin: 0px 10px 0px 10px;
        grid-area: avatar;
    }

    &__name {
        grid-area: name;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: 'Yeseva One', arial, sans-serif;
        font-size: 1.1rem;
    }

    &__message {
        grid-area: message;
    }

    &__time {
        grid-area: time;
        font-size: 0.8rem;
    }

    &__status {
        grid-area: status;
        width: 100%;
    }

    &__menu {
        grid-area: menu;
        display: none;
    }
}

.message-in {
    justify-content: flex-start;
    justify-items: flex-start;
    grid-template-areas:
        "avatar name time"
        "avatar message status";
}

.message-out {
    justify-content: flex-end;
    justify-items: flex-end;
    grid-template-areas:
        "time name avatar"
        "status message avatar";
}