.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    font-family: $font-family-h;


    #label {}

    input {
        outline: none;
        border: 0;
        padding: 10px;
        font-family: $font-family-text;
        width: 43%;
        border-radius: 5px;
        box-shadow: -5px -2px 12px 0 #fff, 5px 7px 25px 0 rgb(0 0 0 / 10%);
    }
}