.profile-name {
    font-size: 2rem;
    text-align: center;
    font-family: "Yeseva One", arial, sans-serif;
    position: sticky;
    top: -1px;
    background-color: #f0f3f6;
    padding: 10px;
}

.avatar-profile_margin {
    margin: 20px auto;
}