.text-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;

    &_style {
        font-family: $font-family-h;
    }

    &_input {
        width: 43%;
        margin: 0px;
    }

}