mixin input-form()
    .input-form__message 
        input(type="text" placeholder="Написать сообщение")
    .input-form__icon-emoji
        include ../../../static/svg/icon_emoji_24dp.svg
    .input-form__media-attach
        include ../../../static/svg/attach_file_24dp.svg
    .input-form__send-message
        include ../../../static/svg/send_24dp.svg