@mixin status-message() {
    .status-message {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .is-sent {
        background-color: #EC732E;
    }

    .is-received {
        background-color: #ECC22E;
    }

    .is-read {
        background-color: #82EC2E;
    }