$msg-sent-color: #EC732E;
$msg-received-color: #ECC22E;
$msg-read-color: #82EC2E;

$alarm-color: #FF2F2F;

$font-family-text: "Open Sans",
sans-serif;
$font-family-h: "Yeseva One",
arial,
sans-serif;

$color-link: #2b92f3;
$font-size-xl: 35px;
$font-size-lg: 25px;
$font-size-md: 20px;
$font-size-sm: 12px;
$font-size-xs: 11px;
$font-size-xxs: 9px;