extends  ../../layout/main/_index
include ../../components/dialog-card/index
include ../../components/search-form/index
include ../../components/history-messages/history-messages
include ../../components/input-form/input-form
include ../../components/profile/profile

block content
    .app
        .sidebar
            .sidebar__content
                .app-bar
                    .app-bar__setting-profile
                        a(href="../profile/index.pug") 
                            include ../../../static/svg/settings_24dp.svg
                    .app-bar__log-out
                        a(href="../signIn/index.pug") 
                            include ../../../static/svg/logout_24dp.svg
                +profile("John Les", "../../../static/img/avatar_1.jpg")
                +search-form()
                nav
                ul.chat-list
                    +dialog-card("../../../static/img/avatar_2.jpg", "Юлия", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:55", "sent", _ ,true)
                    +dialog-card("../../../static/img/avatar_3.jpg", "Евгений", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:54", "read", _ ,)
                    +dialog-card("../../../static/img/avatar_4.jpg", "Иван", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:53", "received", _ ,)
                    +dialog-card("../../../static/img/avatar_2.jpg", "София", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:50", "sent", _ ,)
                    +dialog-card("../../../static/img/avatar_3.jpg", "Александр", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:44", "read", _ ,)
                    +dialog-card("../../../static/img/avatar_4.jpg", "Сергей", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:35", "", _ ,)
                    +dialog-card("../../../static/img/avatar_4.jpg", "Сергей", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:35", "", _ ,)
                    +dialog-card("../../../static/img/avatar_4.jpg", "Сергей", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:35", "", _ ,)
                    +dialog-card("../../../static/img/avatar_4.jpg", "Сергей", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:35", "", _ ,)
                    +dialog-card("../../../static/img/avatar_4.jpg", "Сергей", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:35", "", _ ,)
                    +dialog-card("../../../static/img/avatar_4.jpg", "Сергей", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:35", "", _ ,)
        main.content
            .msg
                +history-messages("../../../static/img/avatar_2.jpg", "Юлия", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:55",_,"in" )
                +history-messages("../../../static/img/avatar_3.jpg", "John Les", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:55","read","out" )
                +history-messages("../../../static/img/avatar_2.jpg", "Юлия", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:55",_,"in" )
                +history-messages("../../../static/img/avatar_3.jpg", "John Les", "Вот они молодцы мы только приехали, тоже сейчас будем кушать", "16:55","read","out" )
            footer.input-form
                +input-form()
        


