extends  ../../layout/main/_index
include ../../components/input/input
include ../../components/button/button
include ../../components/link/link
include ../../components/title-auth/title-auth

block content
    header.auth
        +title-auth("Войти", "зарегистрироваться")
    main.content
        form.form
            +input("text", "login", _, "Логин", "Введите пароль")
            +input("password", "password", _, "Пароль", "Введите пароль")
            .group-elements
                +link("Забыл пароль?", "#")
                +button("Войти", "submit")
        footer
    script(src='./index.js')


