mixin search-form
        form.search-form
            input.search-form__input(type="text" placeholder="Поиск")
            button.search-form__button
                include ../../../static/svg/search_24dp.svg
