extends  ./layout/main/_index

block content
    a(href="pages/home/index.pug") 
    a(href="pages/profile/index.pug")
    a(href="pages/signUp/index.pug")
    a(href="pages/404-page/index.pug")
    a(href="pages/500-page/index.pug")
    .start
        a(href="pages/signIn/index.pug") Вход
    script(src='./index.js')


